<html ng-app="myApp">
<head>
  <base href="/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
  rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../stylesheets/preview.css">
  <link rel="stylesheet" href="../stylesheets/angular-chart.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="../javascripts/app.js"></script>
  <script src="../javascripts/homeController.js"></script>
  <script src="../javascripts/lineController.js"></script>
  <script src="../javascripts/pieController.js"></script>
  <script src="../javascripts/appRoutes.js"></script>
  <script src="../javascripts/libs/Chart.js"></script>
  <script src="../javascripts/libs/angular-chart.js"></script>
</head>
<body ng-controller="homeCtrl">
  <!--NAVBAR -->
  <nav class="navbar navbar-default">
    <div class="container">
     <div class="navbar-header">
      <a class="navbar-brand" href="/">Angular Routing Example</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/Home"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="/Line"><i class="fa fa-shield"></i> Line</a></li>
      <li><a href="/Pie"><i class="fa fa-shield"></i> Pie</a></li>
    </ul>
  </div>
</nav>
<!-- this is where content will be injected -->
<div ng-view></div>

</body>
</html>