extends layout

block content
  h1 Edulytics
  p Grade visualization done right
  span.small Don't have an account?
  span &nbsp;
  a.small(href="/auth/register") Register
  br
  span.small Already registered?
  span &nbsp;
  a.small(href="/auth/login") Login
