extends layout

block content
  h1 Signup please
  form(role="form", action="/auth/register", method="post")
    .form-group
      label(for="first_name") First Name
      input#first_name.form-control(name="first_name", type="text")
    .form-group
      label(for="last_name") Last Name
      input#last_name.form-control(name="last_name", type="text")
    .form-group
      label(for="email") Email
      input#email.form-control(name="email", type="text")
    .form-group
      label(for="password") Password
      input#password.form-control(name="password", type="password")

    p
      a.btn.btn-link(href="/") Back
      button.btn.btn-default(type="submit", value="Sign up") Sign up


